In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_parquet('data/train-00000-of-00001.parquet')
df.tail()

,Unnamed: 0,index,user_prompt,model_response
9995,9995,16854,Generate a job description for a Data Analyst ...,"Job Description: Data Analyst (Mining, Crude-O..."
9996,9996,16855,Generate a job description for a Research Anal...,Job Description: Research Analyst (Constructio...
9997,9997,16857,Generate a job description for a Data Analyst ...,Job Description: Data Analyst (Specializing in...
9998,9998,16858,Generate a job description for a Systems Admin...,Job Description: Systems Administrator - Minin...
9999,9999,16860,Generate a job description for a Web Developer...,Job Description: Web Developer\n\nWe are curre...

In [21]:
df = df.drop(columns=['Unnamed: 0','index'])

In [22]:
df.isnull().value_counts()

user_prompt  model_response
False        False             10000
Name: count, dtype: int64

In [23]:
df.drop_duplicates()

,user_prompt,model_response
0,Generate a job description for a Project Manag...,Job Description: Project Manager - Food Servic...
1,Generate a job description for a Systems Admin...,Job Description: Systems Administrator\n\nWe a...
2,Generate a job description for a Systems Admin...,Job Description: Systems Administrator\n\nWe a...
3,Generate a job description for a Data Analyst ...,Job Description: Data Analyst\n\nWe are curren...
4,Generate a job description for a Data Analyst ...,Job Description: Data Analyst (Pharmaceuticals...
...,...,...
9995,Generate a job description for a Data Analyst ...,"Job Description: Data Analyst (Mining, Crude-O..."
9996,Generate a job description for a Research Anal...,Job Description: Research Analyst (Constructio...
9997,Generate a job description for a Data Analyst ...,Job Description: Data Analyst (Specializing in...
9998,Generate a job description for a Systems Admin...,Job Description: Systems Administrator - Minin...
9999,Generate a job description for a Web Developer...,Job Description: Web Developer\n\nWe are curre...

In [24]:
df

,user_prompt,model_response
0,Generate a job description for a Project Manag...,Job Description: Project Manager - Food Servic...
1,Generate a job description for a Systems Admin...,Job Description: Systems Administrator\n\nWe a...
2,Generate a job description for a Systems Admin...,Job Description: Systems Administrator\n\nWe a...
3,Generate a job description for a Data Analyst ...,Job Description: Data Analyst\n\nWe are curren...
4,Generate a job description for a Data Analyst ...,Job Description: Data Analyst (Pharmaceuticals...
...,...,...
9995,Generate a job description for a Data Analyst ...,"Job Description: Data Analyst (Mining, Crude-O..."
9996,Generate a job description for a Research Anal...,Job Description: Research Analyst (Constructio...
9997,Generate a job description for a Data Analyst ...,Job Description: Data Analyst (Specializing in...
9998,Generate a job description for a Systems Admin...,Job Description: Systems Administrator - Minin...
9999,Generate a job description for a Web Developer...,Job Description: Web Developer\n\nWe are curre...

In [31]:
df.iloc[5][0]

/var/folders/95/d1vzs00x0cvbmsxthgvjyhb40000gn/T/ipykernel_47587/718544433.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[5][0]

'Generate a job description for a Java Developer role.The candidate should have skills in Web application development Java web frameworks example Servlets, JSP Frontend integration User authentication Security protocols Code documentation. The job description should include the sector (Consumer Goods or Homecare) and industry (Consumer Products  based on  Cleaning Products) of the company.'